<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Players</title>
</head>
<body>

<h2>Players List</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Jersey</th>
        <th>Runs</th>
        <th>Avg</th>
    </tr>

    <tr th:each="p : ${players}">
        <td th:text="${p.playerName}"></td>
        <td th:text="${p.teamName}"></td>
        <td th:text="${p.age}"></td>
        <td th:text="${p.gender}"></td>
        <td th:text="${p.jerseyNum}"></td>
        <td th:text="${p.totalRuns}"></td>
        <td th:text="${p.average}"></td>
    </tr>
</table>

<br>
<a href="/">Back to Home</a>

</body>
</html>
